{% extends "ethicsapplication/ea_base.html" %}
<h1>Openethics</h1>
<h2>Welcome to the index page!</h2>

<body>

{% if user.is_authenticated %}

	{% block content %}
		<p><h1> Your Active Applications:</h1></p>
		<ul>	
			{% for application in active_applications %}
				<li><a href="{% url application_view application_id=application.id%}">{{application.title}}</a></li>
			{% endfor %}
		</ul>
	{% endblock %}
	
	{% block sidebar-lower %}
		<p><h1> Applications for your review:</h1></p>
		<ul>	
			{% for application in applications_for_review %}
				<li><a href="{% url application_view application_id=application.id%}">{{application.title}}</a></li>
			{% endfor %}
		</ul>
	
	{% endblock %}
	
	
{% else %}

	{% url auth_login as login_url %}
	<a href="{{login_url}}">login</a>
{% endif %}

</body>
