{% extends "ethicsapplication/ea_base.html" %}
{% load token_tags %}
{% block title %} 
	<title>View Application: {{application.title}}</title>
{% endblock %}

{% block page-header %}
		<h1><span class="field">Application name:</span><span class="value">{{application.title}}</span></h1>
{% endblock %}

{% block sidebar %}
<div id="content-sidebar">
	{% block sidebar-top %}
	{% endblock %}
	{% block sidebar-lower %}
	{% endblock %}
</div>
{% endblock %}

{% block content %}
	
	{% if_has_permission_for_object application edit %}
	
		{%if application.checklist and application.checklist.get_ordered_groups|first in application.get_answersets %}
			<p id="checklist">
				<span class="field">Status:</span><span class="value">checklist completed:</span>
				<a id="edit" href="{% url start_checklist ethics_application_id=application.id %}">
					edit
				</a>
			</p>
		{% else %}
		<p>
			<a href="{% url start_checklist ethics_application_id=application.id %}">Do Checklist</a>
		</p>
		{% endif %}
		<p>
			Questionnaire groups:
		</p>
			<ol>
				{% for group in application.application_form.get_ordered_groups %}
				<li>
					<a href="{% url do_application_form_group questionnaire_id=application.application_form.id order_index=forloop.counter0 %}?on_success={% url application_view application_id=application.id%}">
						{{group.name}}</a>
					{%if group in application.get_answersets %}
						(Completed)
					{% else %}
						(Incomplete)
					{% endif %}	
				</li>				
				{% endfor %}	
			</ol>
			
		
		
	{% else %}
	
		<!-- Show the read only views of the  application section -->	
		
		<a href="{% url view_checklist ethics_application_id=application.id %}?return_to={% url application_view application_id=application.id%}">View Checklist</a>
		
		<h2>Application subsections:</h2>
		<ol>
				{% for group in application.application_form.get_ordered_groups %}
				<li>
					<a href="{% url read_application_form_group application_id=application.id questionnaire_id=application.application_form.id order_index=forloop.counter0 %}?return_url={% url application_view application_id=application.id%}">
						{{group.name}}</a>
				</li>				
				{% endfor %}	
			</ol>
	{% end_if_has_permission_for_object %}
	
		
	{% if_has_permission_for_object application submit %}
	<p>
		{% if application.is_ready_to_submit %}
			<a href="{%url submit_application ethics_application_id=application.id%}">Submit!</a>
		{% endif %}
	</p>
	
	{% end_if_has_permission_for_object %}

{% endblock %}
