{% load token_tags %}
<head>
	<title>View Application: {{application.title}}</title>
</head>
<body>
	<p>
		<h1>{{application.title}}</h1>
	</p>
	
	{% if_has_permission_for_object application edit %}
	
		{%if application.checklist and application.checklist.get_ordered_groups|first in application.get_answersets %}
			Checklist done!
		{% else %}
		<p>
			<a href="{% url start_checklist ethics_application_id=application.id %}">Do Checklist</a>
		</p>
		{% endif %}
	{% end_if_has_permission_for_object %}
	
		<!-- keep this outside the permissions checking section during development-->
		<p>
			Questionnaire groups:
		</p>
			<ol>
				{% for group in application.application_form.get_ordered_groups %}
				<li>
					<a href="{% url do_application_form_group questionnaire_id=application.application_form.id order_index=forloop.counter0 %}?on_success={% url application_view application_id=application.id%}">
						{{group.name}}</a>
					{%if group in application.get_answersets %}
						(Completed)
					{% else %}
						(Incomplete)
					{% endif %}	
				</li>				
				{% endfor %}	
			</ol>
			
		<p>
			{% if application.is_ready_to_submit %}
				<a href="{%url submit_application ethics_application_id=application.id%}">Submit!</a>
			{% endif %}
		</p>

</body>